<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png"  width="300" alt="cognitiveclass.ai logo"  />
</center>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction

Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.

Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01" target="_blank">Spacex DataSet</a>

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [ ]:
import pandas as pd
import csv
import sqlite3

In [ ]:
# used this code to upload each of the csv files
from google.colab import files
uploaded = files.upload()

Saving Spacex.csv to Spacex (1).csv

In [ ]:
df = pd.read_csv('Spacex.csv')

In [ ]:
df.head()

         Date Time (UTC)  ... Mission_Outcome     Landing _Outcome
0  04-06-2010   18:45:00  ...         Success  Failure (parachute)
1  08-12-2010   15:43:00  ...         Success  Failure (parachute)
2  22-05-2012   07:44:00  ...         Success           No attempt
3  08-10-2012   00:35:00  ...         Success           No attempt
4  01-03-2013   15:10:00  ...         Success           No attempt

[5 rows x 10 columns]

In [ ]:
df.rename(columns = {'Landing _Outcome':'Landing_Outcome'}, inplace = True)

In [ ]:
df

           Date Time (UTC)  ... Mission_Outcome      Landing_Outcome
0    04-06-2010   18:45:00  ...         Success  Failure (parachute)
1    08-12-2010   15:43:00  ...         Success  Failure (parachute)
2    22-05-2012   07:44:00  ...         Success           No attempt
3    08-10-2012   00:35:00  ...         Success           No attempt
4    01-03-2013   15:10:00  ...         Success           No attempt
..          ...        ...  ...             ...                  ...
96   05-11-2020   23:24:23  ...         Success              Success
97   16-11-2020   00:27:00  ...         Success              Success
98   21-11-2020   17:17:08  ...         Success              Success
99   25-11-2020   02:13:00  ...         Success              Success
100  06-12-2020   16:17:08  ...         Success              Success

[101 rows x 10 columns]

In [ ]:
conn = sqlite3.connect('Spacex.db')

In [ ]:
df.to_sql('SpaceX', conn , if_exists='replace' , index = False)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

In [ ]:
#function named run to call my sql queries
def run(my_sql_query):
  return pd.read_sql(my_sql_query,conn)

#creating cursor object and calling execute method
cur = conn.cursor()

In [ ]:
# cur.execute(my_sql_query)

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

### Task 1

##### Display the names of the unique launch sites  in the space mission

In [ ]:
run("select distinct(Launch_Site) from Spacex")

    Launch_Site
0   CCAFS LC-40
1   VAFB SLC-4E
2    KSC LC-39A
3  CCAFS SLC-40

### Task 2

##### Display 5 records where launch sites begin with the string 'CCA'

In [ ]:
run('''select *
        from Spacex
          where Launch_Site like 'CCA%'
            limit 5
          ''')

         Date Time (UTC)  ... Mission_Outcome      Landing_Outcome
0  04-06-2010   18:45:00  ...         Success  Failure (parachute)
1  08-12-2010   15:43:00  ...         Success  Failure (parachute)
2  22-05-2012   07:44:00  ...         Success           No attempt
3  08-10-2012   00:35:00  ...         Success           No attempt
4  01-03-2013   15:10:00  ...         Success           No attempt

[5 rows x 10 columns]

### Task 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [ ]:
run('''select sum(PAYLOAD_MASS__KG_) as Total_Payload_mass
        from Spacex
          where Customer = 'NASA (CRS)'
           
          ''')

   Total_Payload_mass
0               45596

### Task 4

##### Display average payload mass carried by booster version F9 v1.1

In [ ]:
run('''select AVG(PAYLOAD_MASS__KG_)  as Average_Payload_Mass
        from Spacex
          where Booster_Version = 'F9 v1.1'
          ''')

   Average_Payload_Mass
0                2928.4

### Task 5

##### List the date when the first successful landing outcome in ground pad was acheived.

*Hint:Use min function*

In [ ]:
run('''select min(Date) as first_date
        from Spacex 
          where Landing_Outcome = 'Success (ground pad)'
          ''')

   first_date
0  01-05-2017

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [ ]:
run('''select Booster_Version 
        from Spacex 
          where Landing_Outcome ='Success (drone ship)' and PAYLOAD_MASS__KG_ between 4000 and 6000
          ''')

  Booster_Version
0     F9 FT B1022
1     F9 FT B1026
2  F9 FT  B1021.2
3  F9 FT  B1031.2

### Task 7

##### List the total number of successful and failure mission outcomes

In [ ]:
run('''select Mission_outcome, count(*)
        from Spacex 
          group by Mission_outcome
          ''')

                    Mission_Outcome  count(*)
0               Failure (in flight)         1
1                           Success        98
2                          Success          1
3  Success (payload status unclear)         1

### Task 8

##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [ ]:
run('''select Booster_Version
        from Spacex 
          where PAYLOAD_MASS__KG_ = (select max(PAYLOAD_MASS__KG_ )
                                          from Spacex)
          ''')

   Booster_Version
0    F9 B5 B1048.4
1    F9 B5 B1049.4
2    F9 B5 B1051.3
3    F9 B5 B1056.4
4    F9 B5 B1048.5
5    F9 B5 B1051.4
6    F9 B5 B1049.5
7   F9 B5 B1060.2
8   F9 B5 B1058.3
9    F9 B5 B1051.6
10   F9 B5 B1060.3
11  F9 B5 B1049.7

### Task 9

##### List the failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015

In [ ]:
run('''select Landing_Outcome, Booster_Version,Launch_Site
        from Spacex
          where Date like '%2015' and Landing_outcome ='Failure (drone ship)'
          ''')

        Landing_Outcome Booster_Version  Launch_Site
0  Failure (drone ship)   F9 v1.1 B1012  CCAFS LC-40
1  Failure (drone ship)   F9 v1.1 B1015  CCAFS LC-40

### Task 10

##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [ ]:
run('''select Landing_Outcome, count(*) as count_
        from Spacex
          where Landing_Outcome like 'Success%' and Date between '04-06-2010' and '20-03-2017'
           group by Landing_Outcome
            order by count_ desc
          ''')

        Landing_Outcome  count_
0               Success      20
1  Success (drone ship)       8
2  Success (ground pad)       6

### Reference Links

*   <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*   <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log

| Date       | Version | Changed by    | Change Description        |
| ---------- | ------- | ------------- | ------------------------- |
| 2021-10-12 | 0.4     | Lakshmi Holla | Changed markdown          |
| 2021-08-24 | 0.3     | Lakshmi Holla | Added library update      |
| 2021-07-09 | 0.2     | Lakshmi Holla | Changes made in magic sql |
| 2021-05-20 | 0.1     | Lakshmi Holla | Created Initial Version   |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>